<div class="flex flex-col m-auto items-center transition ease-in-out hover:scale-105">
  <img src="<%= product.image %>" alt="product" class="w-48 h-48 object-contain" />
  <p class="text-center font-bold">
    <%= product.title %>
  </p>
  <p class="text-center">$<%= product.price %></p>
  <div class="bg-sky-300 text-white font-bold py-2 px-4 rounded-full mt-4">
    Add to cart
  </div>
</div>
