<div class="flex flex-col h-screen items-center justify-center bg-sky-300 relative">
  <p class="text-3xl italic font-bold text-white drop-shadow animate-bounce">Payment Completed</p>
  <p class="text-3xl italic font-bold text-white drop-shadow animate-bounce">Thank you!</p>
  <%= link_to 'Go back home', root_path, class: "text-lg text-white mt-12 p-12 absolute bottom-48" %>
</div>
