<div class="absolute top-12 text-2xl italic text-center">
  <%= @total %> CAD
</div>
<!-- Display a payment form -->
<form id="payment-form">
  <div id="link-authentication-element">
    <!--Stripe.js injects the Link Authentication Element-->
  </div>
  <div id="payment-element">
    <!--Stripe.js injects the Payment Element-->
  </div>
  <button id="submit">
    <div class="spinner hidden" id="spinner"></div>
    <span id="button-text">Pay now</span>
  </button>
  <div id="payment-message" class="hidden"></div>
</form>
<div class="absolute bottom-12 text-center">This is <span class="font-bold">Test mode</span>. You can use the card numbers: <span class="italic font-bold">4242 4242 4242 4242</span>.</div>
